#root {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0 1rem;
  text-align: left;
  /* background-color: #f6e2e2; */
  background-color: #F7F7F7;
  min-height: 100dvh;
  box-sizing: border-box;
}

/* Page ClientHome sans padding pour le carrousel */
.page-client-home {
  margin: 0 -1rem;
  width: calc(100% + 2rem);
}

body {
  font-family: "Helvetica Neue", Helvetica, -apple-system, BlinkMacSystemFont, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

html {
  width: 100%;
  overflow-x: hidden;
}
